{% extends 'base.html' %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us....</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Clifford e-commerce</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>
                    <p align="justify">
                        Every function in Excel requires an opening and closing parenthesis (). 
                        <br/><br/>
                        Excel will try to help you figure out what goes where by coloring different parts of your formula when you’re editing it. 
                        <br/><br/>
                        For instance, if you were to edit the above formula, as you move the cursor past each of the ending parentheses “)”, its corresponding opening parenthesis will turn the same color. 
                        <br/><br/>
                        This can be especially useful in complex nested formulas when you’re trying to figure out if you have enough matching parentheses.
                    </p>
                </div>
            </center>
        </div>
    </div>
{% endblock content %}