{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST- {{ product.id }}</div> <!-- come back--> 
                        <h1 class="display-5 fw-bolder">{{ product.name }}</h1>  
                        <div class="fs-5 mb-5">

                            {% if product.is_sale %}
                                <span class="text-decoration-line-through">${{ product.price }}</span>
                                <span>${{ product.sale_price }}</span>
                            {% else %}
                                <span>${{ product.price }}</span>
                                <br/>ID: {{ product.id }}
                            {% endif %}
                    
                        </div>
                        <p class="lead">{{ product.description }}</p>
                        <div class="d-flex">
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <button class="btn btn-link px-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                    <i class="fas fa-minus"></i>
                                </button>
                
                                <input min="1" name="quantity" id="inputQuantity" value="1" type="number"
                                    class="form-control form-control-sm" />
                
                                <button class="btn btn-link px-2"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                    <i class="fas fa-plus"></i>
                                </button>
                              </div>
                            <button class="btn btn-outline-dark flex-shrink-0" type="button" value="{{ product.id }}" id="add-cart">
                                <i class="bi bi-cart-fill"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        // Check if button was pressed
        $(document).on('click', '#add-cart', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "cart_add" %}',
                data:{
                    product_id: $('#add-cart').val(),
                    quantity: $('#inputQuantity').val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },

                success: function(json){
                    //console.log(json)
                    document.getElementById('cart_quantity').textContent = json.cart_quantity
                },

                error: function(xhr, errmsg, err){

                }
 
            });
        })
    </script>
{% endblock content %}